.row {
  width: 100%;
  background: var(--base);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.875rem var(--space-4);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-primary);
  transition: all 0.15s;
}

.name {
  margin: 0;
  font-size: var(--text-md);
  font-weight: 500;
  color: var(--primary);
}

.badges {
  display: flex;
  gap: var(--space-1);
  align-items: center;
  margin-top: var(--space-1);
}

.left {
  display: flex;
  flex-direction: column;
}
