.grid {
  display: grid;
  gap: 16px;
}

.gridNormal {
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.gridCompact {
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
}
